<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/about.css">
    </head>
    <body>
        <div class="wrapper">
            <p>名称：传智计算器</p>
            <p>版本：<span class="version">1.0.0</span></p>
            <p>作者：<span class="author">itcast</span></p>
            <p>源码：<span class="code">heima</span></p>
        </div>
    </body>
</html>