.movie-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  background-color: #1e2736;
  margin: 0;
}
li {
  list-style: none;
  line-height: 30px;
  height: 30px;
}
li a {
  color: white;
  text-decoration: none;
}
li a:hover {
  color: red;
}