<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../style/color.css">
</head>
<body>
    <div id='box'>
        <span data-color='red'></span>
        <span data-color='orange'></span>
        <span data-color='white'></span>
        <span data-color='green'></span>
        <span data-color='blue'></span>
    </div>
</body>
</html>