.mt_swiper{
  margin-top: 10px;
  Swiper{
    height: 192px;
    .mt_swiper_item{
      .mt_swiper_nav{
        width: 100%;
        height: 100%;
        .mt_swiper_img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}