<form nz-form [formGroup]="employeeAddForm" (ngSubmit)="submitForm($event)">
  <!-- 姓名 -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>姓名</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="name" placeholder="请输入姓名">
      <nz-form-explain *ngIf="employeeAddForm.get('name').dirty && employeeAddForm.get('name').errors">
        <ng-container *ngIf="employeeAddForm.get('name').hasError('required')">
          姓名为必填项
        </ng-container>
        <ng-container *ngIf="employeeAddForm.get('name').hasError('minlength')">
          姓名长度最少为2位
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <!-- 性别 -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>性别</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-radio-group formControlName="gender">
        <label nz-radio nzValue="0">女</label>
        <label nz-radio nzValue="1">男</label>
      </nz-radio-group>
      <nz-form-explain *ngIf="employeeAddForm.get('gender').dirty&&employeeAddForm.get('gender').errors">
        <ng-container *ngIf="employeeAddForm.get('gender').hasError('required')">
          性别为必选项
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <!-- 邮箱 -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>邮箱</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="email" placeholder="请输入邮箱" type="email">
      <nz-form-explain *ngIf="employeeAddForm.get('email').dirty&&employeeAddForm.get('email').errors">
        <ng-container *ngIf="employeeAddForm.get('email').hasError('email')">
          请输入正确的邮箱格式
        </ng-container>
        <ng-container *ngIf="employeeAddForm.get('email').hasError('required')">
          邮箱为必填项
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <!-- 手机号码 -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7">手机号码</nz-form-label>
    <div>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="phoneNumber" placeholder="请收入手机号码">
        <nz-form-explain *ngIf="employeeAddForm.get('phoneNumber').dirty&&employeeAddForm.get('phoneNumber').hasError('pattern')">手机号码格式不正确</nz-form-explain>
      </nz-form-control>
    </div>
  </nz-form-item>

  <!-- 入职日期 -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7">入职日期</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="joinDate"></nz-date-picker>
      <nz-form-explain *ngIf="employeeAddForm.get('joinDate').dirty&&employeeAddForm.get('joinDate').errors">
        <ng-container *ngIf="employeeAddForm.get('joinDate').hasError('date')">
          入职时间不能早于今天
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <!-- 添加按钮 -->
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!employeeAddForm.valid">添加</button>
      <button nz-button (click)="resetForm($event)">重置</button>
    </nz-form-control>
  </nz-form-item>
</form>
