{% extends "../layout/layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/public/css/page-sj-qa-submit.css" />
{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="qa-submit-form">
      <form class="sui-form" id="form">
        <input type="hidden" id="question_id" value="{{ question._id }}">
        <div class="input-title">
          <input
            class="input-xfat input-xxlarge title"
            type="text"
            name="title"
            placeholder="标题：一句话说清问题，用问号结尾"
            value="{{ question.title }}">
        </div>
        <div class="tags-area">
          <div class="input-tags">
            <input
              class="input-xfat input-xxlarge"
              type="text"
              name="tags"
              placeholder="标签，如:php可使用逗号，分号； 来分隔"
              id="tags"
              value="{{ question.tags }}">
          </div>
          <div class="tags-box">
            <ul class="sui-tag tag-bordered">
              <li class="tag-item">javascript</li>
              <li class="tag-item">php</li>
              <li class="tag-item">css</li>
              <li class="tag-item">html</li>
              <li class="tag-item">java</li>
              <li class="tag-item">python</li>
              <li class="tag-item">html5</li>
              <li class="tag-item">node.js</li>
              <li class="tag-item">c++</li>
            </ul>
          </div>
        </div>
        <div class="editor">
          <!-- <textarea name="editor1"></textarea> -->
          <textarea name="body" cols="100" rows="10">{{ question.body }}</textarea>
        </div>
        <div class="submit">
          <span>已保存草稿</span>
          <button type="submit" class="sui-btn btn-release">更新问题</button>
          <!-- <span><a class="sui-btn btn-release">发布问题</a></span> -->
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- 发布问题的富文本编辑器 -->
<script src="/public/plugins/ckeditor/ckeditor.js"></script>
<script>
  // CKEDITOR.replace('editor1')
  $('#form').on('submit', handleSubmit)

  function handleSubmit() {
    var questionId = $('#question_id').val()
    $.ajax({
      url: '/questions/' + questionId,
      method: 'PATCH',
      data: $(this).serialize(),
      dataType: 'json',
      success: function (data) {
        // 更新成功，跳转回问题详情页
        window.location.href = '/questions/' + data._id
      },
      error: function (err) {
        console.error('更新失败', err)
      }
    })
    return false
  }
</script>
{% endblock %}

